/*
|--------------------------------------------------------------------------
|   Add Products to database in laravel
|--------------------------------------------------------------------------
*/

.create-form {
    width: 50%;
    margin: auto;
    box-shadow: 0 0.5rem 2rem black;
    display: flex;
    color: var(--context-text-color);
    background-color: white;
    grid-column: 2 / span all;
}

@media (max-width: 45rem){
    .create-form{
        grid-column: 1 / span all;
    }

}

@media (max-width: 37.5rem) {
    .create-form {
        width: 90%;
    }
}

.create-form__form {
    width: 80%;
    margin: 0 auto;
}

.create-form__section {
    margin-top: 4rem;
    font-size: 140%;
    width: 100%;
}

.create-form__input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 80%;
    font-weight: 400;
    font-family: sans-serif;
}

.create-form__input--big {
    height: 20rem;
}

.create-form__button {
    font-size: 100%;
    width: 25rem;
    height: 6rem;
    box-sizing: border-box;
    background: #07689f;
    border: none;
    color: #eeeeee;
    box-shadow: 0 0 5rem rgba(7, 104, 159, 0.7);
    transition: 0.2s all;
    margin-bottom: 2rem;
}

@media (max-width: 62.5rem) {
    .create-form {
        width: 100%;
    }
}

@media (max-width: 45rem) {
    .create-form {
        width: 90;
        grid-column: 1 / span all;
    }
}

/*
|--------------------------------------------------------------------------
|   Animations
|--------------------------------------------------------------------------
*/

.a-popup {
    animation-name: popup;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
}
.a-popup:nth-of-type(2n) {
    animation-delay: 0.1s;
}
.a-popup:nth-of-type(3n) {
    animation-delay: 0.2s;
}
