/*
|--------------------------------------------------------------------------
|   Buttons
|--------------------------------------------------------------------------
*/

.button {
    width: 4rem;
    height: 4rem;
    font-family: var(--font-family-heading);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-primary-button);
}

.button:disabled{
    color: var(--c-primary-button-disabled);
}



.button:hover {
    background-color: var(--c-primary-button-hover);
}

/* OrderButton */




