/*
|--------------------------------------------------------------------------
|   Product Cards
|--------------------------------------------------------------------------
*/

.productCard {
    position: relative;
    height: 75rem;
    width: 100%;
    min-width: 30rem;

    background-color: var(--c-white);
    font-family: var(--font-family-paragraph);
    box-shadow: 0.2rem 0.2rem 1rem 0.1rem  rgba(0,0,0,0.58);
    transition: 0.2s all;

    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.productCard{
    border: var(--c-primary-button);
}

.productCard__label {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 10%;
    width: 100%;
    
    background-color: var(--c-secondary-bg);
    border-bottom: 0.5rem solid var(--c-yellow);
    padding: 1rem;
    padding-bottom: 0rem;

    font-family: var(--font-family-heading);
    color: var(--c-dark-font);
}

.productCard__category {
    color: var(--c-dark-font);
    display: block;
    height: 100%;
    font-size: 2.2rem;
}

.productCard__subCategory {
    display: block;
    align-self: end;
    height: 100%;
    font-size: 1.8rem;
}

.productCard__header {
    margin: 0 auto;
    height: 10%;
    width: 90%;
    padding-top: 1rem;
    font-family: var(--font-family-heading);
}

.productCard__figure {
    height: 30%;
    width: 100%;
    margin-bottom: 4rem;
}

.productCard__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.productCard__textArea {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--font-family-paragraph);
    width: 100%;
    height: 10%;
}



.productCard__description {
    display: block;
    font-size: 1.8rem;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.productCard__orderInformation{
    padding-top: 5rem;
    flex-flow: column nowrap;
    height: 15rem;   
    width: 90%; 
    margin: 0 auto;
    font-size: 1.8rem;
}

.productCard__rule{
    font-size: 1.6rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
    height: 50%;

    background-color: var(--c-secondary-bg);
    color: white;
}

.productCard__ordered{
    font-size: 1.6rem;
    display: flex;
    align-self: stretch;
    padding: 0 1rem;
    align-items: center;
    height: 50%;   
    background-color: var(--c-primary-bg);
}
.productCard__ordered--disabled{

    background-color: var(--c-accent-red);
    color: white;
}

.productCard__buttons{
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0;
}

.productCard__disabled{
    background-color: var(--c-disabled-button);
    font-family: var(--font-family-heading);
    width: 100%;
    height: 100%
}

.u-flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}