/*
|--------------------------------------------------------------------------
|   Product Cards
|--------------------------------------------------------------------------
*/

.productCard {
    position: relative;
    height: 60rem;
    width: 100%;
    background-color: var(--c-white);
    font-family: var(--font-family-paragraph);
}

.productCard__label {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    padding-bottom: 0rem;
    background-color: var(--c-secondary-bg);
    color: var(--c-dark-font);
    border-bottom: 0.5rem solid var(--c-yellow);
    height: 15%;
    width: 80%;
    font-family: var(--font-family-heading);
}

.productCard__category {
    color: var(--c-dark-font);
    display: block;
    height: 100%;
    font-size: 2.2rem;
}

.productCard__subCategory {
    display: block;
    align-self: end;
    height: 100%;
    font-size: 1.8rem;
}

.productCard__header {
    margin: 0 auto;
    height: 10%;
    width: 90%;
    padding-top: 1rem;
    font-family: var(--font-family-heading);
}

.productCard__body {
    font-family: var(--font-family-paragraph);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    width: 100%;
    height: 75%;
}

.productCard__figure {
    height: 20rem;
    width: 100%;
    margin-bottom: 4rem;
}

.productCard__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.productCard__description {
    display: block;
    font-size: 1.8rem;
    width: 90%;
    height: 20%;
    margin: 0 auto;
}


