.shoppingCart {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 70rem;
  width: 100%;
  grid-column: span 1;
  font-family: var(--font-family-paragraph);
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.58);
  transition: 0.2s all;
  padding: 2rem;
  font-size: 2rem;

  overflow-y: hidden;

  z-index: 112;
  background-color: var(--c-white);
}

/* All major sections */
.shoppingCart__header{
  height: 15%;
}

.shoppingCart__items{
  height: 70%;
  overflow-y: scroll;

}

.shoppingCart__row {
  display: grid;
  width: 100%;
  height: 10rem;

  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: var(--c-dark-grey);
  align-content: center;
  color: white;
  gap: 5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
}

.shoppingCart__row > p {
  display: block;
  align-self: center;
  font-size: 1.5rem;
}

.shoppingCart__row > p:first-of-type {
  grid-column: 1 / span 1;

  margin-right: 1rem;
  font-weight: bold;
  align-self: flex-start;
  font-size: 1.6rem;

  justify-self: center;
  align-self: center;
}

.shoppingcart__row > p:nth-of-type(2) {
  grid-column: 1 / span 2;
  align-self: start;
  justify-self: stretch;
}

.shoppingCart__row > p:last-of-type {
  grid-column: 4 / span 1;
  align-self: end;
  justify-self: center;

  font-weight: bold;
  font-size: 1.8rem;
}

/* Buttons Section */
.shoppingCart__buttons{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 1rem;
  height: 10%;
  width: 95%;
}

.shoppingCart__button {
  width: 100%;
  height: 100%;
  height: 7rem;
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-primary-button);
}

.shoppingCart__button:disabled {
  color: var(--c-primary-button-disabled);
}

.shoppingCart__button:hover {
  background-color: var(--c-primary-button-hover);
}

.shoppingCart__button:active {
  background-color: var(--c-confirmation-button);

}

.shoppingCard__button--reset{
  background-color: var(--c-cancel-button);
}
.shoppingCard__button--reset:hover{
  background-color: var(--c-cancel-button-hover);
}

.u-separator {
  content: "";
  display: block;
  background-color: var(--c-secondary-bg);
  padding: 0 0 3rem 0;
  width: 86%;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1200px) {
  .shoppingCart {
    width: 75%;
  }
}
