/*
|--------------------------------------------------------------------------
|   Sidebar Navigation
|--------------------------------------------------------------------------
*/

nav {
    font-size: 24px;
    height: 100vh;
    position: fixed;
    background-color: #3c4648;
    font-family: "Roboto Slab", "Tahoma", sans-serif;
}

.nav-main__logo {
    background-color: #ffb900;
    padding: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #50585a;
    border-bottom: 1px solid #50585a;
}

.nav-main__icon {
    transform: translateY(3px);
    padding-right: 5px;
}

.topNav,
.catNav,
.adminNav {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #50585a;
}

.botNav {
    position: absolute;
    width: 100%;
    bottom: 0;
}
