/*
|--------------------------------------------------------------------------
|   Sidebar Navigation
|--------------------------------------------------------------------------
*/

.nav {
    font-size: 2.4rem;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    background-color: var(--c-dark-grey);
    font-family: "Roboto Slab", "Tahoma", sans-serif;
}

.headerNav{
  background-color: #ffb900;
  padding: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.nav-main__dropdown{
  transform: translateY(3px);
}

.nav-main__logo{
  margin-left: 2rem;
}

a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #50585a;
    border-bottom: 1px solid #50585a;
}

a:hover{
  background-color: #50585a;
}

.nav-main__icon {
    transform: translateY(3px);
    padding-right: 5px;
}

.topNav,
.catNav,
.adminNav {
    border-bottom: 1px solid #50585a;
}

.botNav {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: -1rem;
}

@media only screen and (max-width: 45rem){
  .nav{
    padding-bottom: 66.5px;
    position: relative;  /* ik heb 4 uur lang gebprobeerd om mobile goed te stylen, we gaan het lekker onder elkaar zetten, daarom staat dit hier nu*/
  }
}

@media only screen and (max-height: 790px){
  a{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
