/*
|--------------------------------------------------------------------------
|   Sidebar Navigation
|--------------------------------------------------------------------------
*/

.nav {
    font-size: 2.4rem;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    background-color: var(--c-dark-grey);
    font-family: "Roboto Slab", "Tahoma", sans-serif;
}

.adminNav{
  margin-top: 1rem;
  height: 30%;
  display: flex;
  gap: 1rem;
  flex-flow: column; 
}

.catNav {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  width: 100%; 
}

.headerNav{
  background-color: #ffb900;
  padding: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.nav-main__dropdown{
  transform: translateY(3px);
}

.nav-main__logo{
  margin-left: 2rem;
}

.catNav__filterButton {
  background: transparent;
  border: 0px solid transparent;
  font-size: 2.4rem;
  text-align: left;
  padding: 0px;
}

.navLink, .catNav__filterButton {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin: 0 2rem;
    border-top: 1px solid #50585a;
    border-bottom: 1px solid #50585a; 
}





.navLink:hover, .catNav__filterButton:hover{
  background-color: #50585a;
}

.nav-main__icon {
    transform: translateY(3px);
    margin-right: 2rem;
}

/* navsection separator */
.topNav,
.catNav,
.adminNav {
    border-bottom: 1px solid #50585a;
}


.botNav {
    position: absolute;

    width: 100%;
    bottom: 0;

}

@media only screen and (max-width: 45rem){
  .nav{
    padding-bottom: 66.5px;
    position: relative;  /* ik heb 4 uur lang gebprobeerd om mobile goed te stylen, we gaan het lekker onder elkaar zetten, daarom staat dit hier nu*/

  }

  .nav{
    height: 5rem;
    transition: 0.2s height linear;
  }
  .catNav{
    display: none;  
  }

  .adminNav{
    display: none;  
  }
  
  .botNav{
    display: none;  
  }


}

@media only screen and (max-height: 790px){
  .navLink, .catNav__filterButton{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}