/*
|--------------------------------------------------------------------------
|   Product Page
|--------------------------------------------------------------------------
*/

.productGrid{
    /* External grid values for the App.css grid */
    grid-column: 2 / span all;    
    /* Internal grid values */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4rem;
    margin: 5rem;  
    margin-top: 2.5rem;
    transition: 1s all;
}

.searchbar{
  grid-column: 1 / span 4;  
  background-color: white;
  height: 56px;
  font-size: 28px;
  padding-left: 10px;

}

@media only screen and (max-width: 1800px){
  .productGrid{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .searchbar{
    grid-column: 1 / span 3; 
  }
}

@media only screen and (max-width: 1500px){
  .productGrid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .searchbar{
    grid-column: 1 / span 2; 
  }
}

@media only screen and (max-width: 1200px){
  .productGrid{
    grid-column: 1/ span all;    
    grid-template-columns:  minmax(0,1fr);
  }

  .searchbar{
    grid-column: 1 / span 1; 
  }
}
