/*
|--------------------------------------------------------------------------
|   CSS Standards
|--------------------------------------------------------------------------
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    width: 100%;
    min-height: 100vh;
    background-color: var(--c-primary-bg);
    font-family: var(--font-family-paragraph);
}

h1,
h2,
h3 {
    font-family: var(--font-family-heading);
}

/*
|--------------------------------------------------------------------------
|   CSS Layout
|--------------------------------------------------------------------------
*/

.pageLayout {
    height: 100%;
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-areas: "Sidebar Content";
}



@media only screen and (max-width: 45rem){
    .pageLayout{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Sidebar"
        "Content";
    }

}
  



/* TODO: DEZE GRID MOET GEWOON IN DE USERPAGE CSS. */

.Grid {
    /* External grid values for the App.css grid */
    align-self: center;
    justify-self: center;
    grid-area: Content;

    /* Internal grid values */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: stretch;
    justify-content: space-evenly;
    gap: 4rem;
    margin: 3rem;
}

@media only screen and (max-width: 1200px) {
    .Grid {
        grid-template-columns: 1fr;
    }
}

/*
|--------------------------------------------------------------------------
|   Utility Classes
|--------------------------------------------------------------------------
*/

.u-grid-area-content {
    grid-area: Content;
}

.u-grid-area-sidebar {
    grid-area: Sidebar;
}


.u-list-style-none {
    list-style: none;
}
