@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS variabelen. (bijv. h1 {font-family: var(--heading-font-family);} */
html{
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  width: 100%;
  min-height: 100vh;
  
}

h1, h2, h3 {
  font-family: var(--heading-font-family)
}

main{
  width: 100vw;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-areas: "Sidebar Content";
  background-color: var(--c-primary-bg);
}

li {
  list-style-type: none;
}

.sideBar {
  grid-area: Sidebar;
}

.userPage {

}

.productPage {

}

@media only screen and (max-width: 1200px){
  .productCard{
    width: 75%;
    margin: 0 auto;
    align-self: center;
  }
  .productGrid{
    grid-template-columns: 1fr;
  }
}

/* Utility Classes */
.u-grid-area-content {
  grid-area: Content;

}