@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap");

:root {
    /* Header en body fonts, font color */
    --font-family-heading: "Roboto Slab", serif;
    --font-family-paragraph: "Open Sans", sans-serif;
    --c-light-font: #000000;
    --c-dark-font: #ffffff;

    /* Achtergronden kleuren */
    --c-primary-bg: #f1f1f1;
    --c-secondary-bg: #2b2d2e;
    --c-tertiary-bg: #000;

    /* Button kleuren */
    --c-primary-button: #ffb900;
    --c-primary-button-hover: #ffd053;
    --c-secondary-button: #3c4648;
    --c-secondary-button-hover: #787d7e;
    --c-confirmation-button: #18b89d;
    --c-confirmation-button-hover: #4fd8aa;
    --c-cancel-button: #f43636;
    --c-cancel-button-hover: #d46363;
    --c-disabled-button: #ddd;

    /* Kleurenpalet uit de styleguide */
    --c-black: #000;
    --c-white: #fff;
    --c-yellow: #ffb900; /* Jungheinrichs primaire bedrijfskleur, voor primarire buttons. */
    --c-accent-red: #cc0000; /* Jungheinrichs accentkleur. */
    --c-green: #009697;
    --c-dark-grey: #3c4648;
    --c-light-grey: #f1f1f1;
}
