.productGrid{
    /* External grid values for the App.css grid */
    align-self: center;
    justify-self: center;
    grid-area: Content;

    /* Internal grid values */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: stretch;
    justify-content: space-evenly;
    gap: 5rem;
    margin: 3rem;  
}

@media only screen and (max-width: 1200px){
  .productGrid{
    grid-template-columns: 1fr;
  }
}