
.userPage{
  grid-column: 2 / span all;
  align-self: center;
  align-items: center;
  justify-self: center;
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  gap: 2rem;
}

/* @media only screen and (max-width: 1300px){
  .userPage{
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
}

@media only screen and (max-width: 1000px){
  .userPage{
    grid-template-columns: repeat(1, minmax(0,1fr));
  }
} */

