
.userPage{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  height: 100%;
  width: 100%;
  margin: 0 auto;
  grid-gap: 5rem;
}

@media only screen and (max-width: 1300px){
  .userPage{
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
}

@media only screen and (max-width: 1000px){
  .userPage{
    grid-template-columns: repeat(1, minmax(0,1fr));
  }
}
